USE [master]
GO
/****** Object:  Database [NaceTuIdea]    Script Date: 22/04/2025 9:40:14 p. m. ******/
CREATE DATABASE [NaceTuIdea]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NaceTuIdea', FILENAME = N'C:\SQL DATA\NaceTuIdea.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NaceTuIdea_log', FILENAME = N'C:\SQL DATA\NaceTuIdea_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NaceTuIdea].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NaceTuIdea]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddServices]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddServices](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[LocalId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AddServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaLocals]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaLocals](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CategoriaLocals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComodidadLocals]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComodidadLocals](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ComodidadLocals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisponibilidadLocals]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisponibilidadLocals](
	[id] [uniqueidentifier] NOT NULL,
	[LocalId] [uniqueidentifier] NOT NULL,
	[inicio] [datetime2](7) NOT NULL,
	[fin] [datetime2](7) NOT NULL,
	[horainicio] [time](7) NULL,
	[horafin] [time](7) NULL,
	[disponible] [bit] NOT NULL,
 CONSTRAINT [PK_DisponibilidadLocals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalCategorias]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalCategorias](
	[Categoriasid] [uniqueidentifier] NOT NULL,
	[Localesid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LocalCategorias] PRIMARY KEY CLUSTERED 
(
	[Categoriasid] ASC,
	[Localesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalComodidades]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalComodidades](
	[Comodidadesid] [uniqueidentifier] NOT NULL,
	[Localesid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LocalComodidades] PRIMARY KEY CLUSTERED 
(
	[Comodidadesid] ASC,
	[Localesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locals]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locals](
	[id] [uniqueidentifier] NOT NULL,
	[propietarioid] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[precioxhora] [decimal](18, 2) NOT NULL,
	[direccion] [nvarchar](max) NOT NULL,
	[capacidad] [int] NOT NULL,
	[FotosUrls] [nvarchar](max) NOT NULL,
	[VideosUrls] [nvarchar](max) NOT NULL,
	[CategoriasIds] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_locals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacions]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacions](
	[id] [uniqueidentifier] NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[tipo] [nvarchar](max) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[creacion] [datetime2](7) NOT NULL,
	[vista] [bit] NOT NULL,
 CONSTRAINT [PK_Notificacions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReglaLocals]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReglaLocals](
	[id] [uniqueidentifier] NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[LocalId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ReglaLocals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseñas]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseñas](
	[id] [uniqueidentifier] NOT NULL,
	[userid] [uniqueidentifier] NOT NULL,
	[localid] [uniqueidentifier] NOT NULL,
	[calificacion] [int] NOT NULL,
	[comentario] [nvarchar](max) NOT NULL,
	[creacion] [datetime2](7) NOT NULL,
	[respuestaid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Reseñas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[id] [uniqueidentifier] NOT NULL,
	[usuarioid] [uniqueidentifier] NOT NULL,
	[localid] [uniqueidentifier] NOT NULL,
	[inicio] [datetime2](7) NOT NULL,
	[fin] [datetime2](7) NOT NULL,
	[asistentes] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[reserva] [datetime2](7) NOT NULL,
	[estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestaRs]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestaRs](
	[id] [uniqueidentifier] NOT NULL,
	[reseñaid] [uniqueidentifier] NOT NULL,
	[propietarioid] [uniqueidentifier] NOT NULL,
	[comentario] [nvarchar](max) NOT NULL,
	[creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RespuestaRs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/04/2025 9:40:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](max) NOT NULL,
	[registro] [datetime2](7) NOT NULL,
	[propietario] [bit] NOT NULL,
	[Localid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250421231616_Migraions', N'8.0.15')
GO
INSERT [dbo].[Users] ([id], [name], [email], [password], [phone], [registro], [propietario], [Localid]) VALUES (N'0c1271fe-3d3f-4b1e-a676-7167deb8dd61', N'Andrew', N'Andrew@gmail.com', N'$2a$10$kbaLhVJ/TbtkmNdQC8AWZeXlEMLwAD5arwkHA78cUkAQvgjfohEBO', N'0018585963', CAST(N'2025-04-22T16:36:32.5119313' AS DateTime2), 0, NULL)
INSERT [dbo].[Users] ([id], [name], [email], [password], [phone], [registro], [propietario], [Localid]) VALUES (N'5a5c5cad-c301-4142-866d-88d31aa32ea0', N'Demian', N'Demian@gmail.com', N'$2a$10$wrmAvjALpQU58v6h16oQAe8BdOKjkcRb6caeu1gl1fb/yTvcf/Cv6', N'1020304060', CAST(N'2025-04-22T20:25:36.9202655' AS DateTime2), 1, NULL)
GO
/****** Object:  Index [IX_AddServices_LocalId]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AddServices_LocalId] ON [dbo].[AddServices]
(
	[LocalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DisponibilidadLocals_LocalId]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DisponibilidadLocals_LocalId] ON [dbo].[DisponibilidadLocals]
(
	[LocalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalCategorias_Localesid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_LocalCategorias_Localesid] ON [dbo].[LocalCategorias]
(
	[Localesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocalComodidades_Localesid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_LocalComodidades_Localesid] ON [dbo].[LocalComodidades]
(
	[Localesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_locals_propietarioid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_locals_propietarioid] ON [dbo].[locals]
(
	[propietarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notificacions_usuarioid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Notificacions_usuarioid] ON [dbo].[Notificacions]
(
	[usuarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReglaLocals_LocalId]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ReglaLocals_LocalId] ON [dbo].[ReglaLocals]
(
	[LocalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reseñas_localid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Reseñas_localid] ON [dbo].[Reseñas]
(
	[localid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reseñas_userid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Reseñas_userid] ON [dbo].[Reseñas]
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservas_localid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Reservas_localid] ON [dbo].[Reservas]
(
	[localid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservas_usuarioid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Reservas_usuarioid] ON [dbo].[Reservas]
(
	[usuarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RespuestaRs_propietarioid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_RespuestaRs_propietarioid] ON [dbo].[RespuestaRs]
(
	[propietarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RespuestaRs_reseñaid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RespuestaRs_reseñaid] ON [dbo].[RespuestaRs]
(
	[reseñaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Localid]    Script Date: 22/04/2025 9:40:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Users_Localid] ON [dbo].[Users]
(
	[Localid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddServices]  WITH CHECK ADD  CONSTRAINT [FK_AddServices_locals_LocalId] FOREIGN KEY([LocalId])
REFERENCES [dbo].[locals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AddServices] CHECK CONSTRAINT [FK_AddServices_locals_LocalId]
GO
ALTER TABLE [dbo].[DisponibilidadLocals]  WITH CHECK ADD  CONSTRAINT [FK_DisponibilidadLocals_locals_LocalId] FOREIGN KEY([LocalId])
REFERENCES [dbo].[locals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DisponibilidadLocals] CHECK CONSTRAINT [FK_DisponibilidadLocals_locals_LocalId]
GO
ALTER TABLE [dbo].[LocalCategorias]  WITH CHECK ADD  CONSTRAINT [FK_LocalCategorias_CategoriaLocals_Categoriasid] FOREIGN KEY([Categoriasid])
REFERENCES [dbo].[CategoriaLocals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalCategorias] CHECK CONSTRAINT [FK_LocalCategorias_CategoriaLocals_Categoriasid]
GO
ALTER TABLE [dbo].[LocalCategorias]  WITH CHECK ADD  CONSTRAINT [FK_LocalCategorias_locals_Localesid] FOREIGN KEY([Localesid])
REFERENCES [dbo].[locals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalCategorias] CHECK CONSTRAINT [FK_LocalCategorias_locals_Localesid]
GO
ALTER TABLE [dbo].[LocalComodidades]  WITH CHECK ADD  CONSTRAINT [FK_LocalComodidades_ComodidadLocals_Comodidadesid] FOREIGN KEY([Comodidadesid])
REFERENCES [dbo].[ComodidadLocals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalComodidades] CHECK CONSTRAINT [FK_LocalComodidades_ComodidadLocals_Comodidadesid]
GO
ALTER TABLE [dbo].[LocalComodidades]  WITH CHECK ADD  CONSTRAINT [FK_LocalComodidades_locals_Localesid] FOREIGN KEY([Localesid])
REFERENCES [dbo].[locals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocalComodidades] CHECK CONSTRAINT [FK_LocalComodidades_locals_Localesid]
GO
ALTER TABLE [dbo].[locals]  WITH CHECK ADD  CONSTRAINT [FK_locals_Users_propietarioid] FOREIGN KEY([propietarioid])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[locals] CHECK CONSTRAINT [FK_locals_Users_propietarioid]
GO
ALTER TABLE [dbo].[Notificacions]  WITH CHECK ADD  CONSTRAINT [FK_Notificacions_Users_usuarioid] FOREIGN KEY([usuarioid])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notificacions] CHECK CONSTRAINT [FK_Notificacions_Users_usuarioid]
GO
ALTER TABLE [dbo].[ReglaLocals]  WITH CHECK ADD  CONSTRAINT [FK_ReglaLocals_locals_LocalId] FOREIGN KEY([LocalId])
REFERENCES [dbo].[locals] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReglaLocals] CHECK CONSTRAINT [FK_ReglaLocals_locals_LocalId]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_locals_localid] FOREIGN KEY([localid])
REFERENCES [dbo].[locals] ([id])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_locals_localid]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Users_userid] FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Users_userid]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_locals_localid] FOREIGN KEY([localid])
REFERENCES [dbo].[locals] ([id])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_locals_localid]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Users_usuarioid] FOREIGN KEY([usuarioid])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Users_usuarioid]
GO
ALTER TABLE [dbo].[RespuestaRs]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaRs_Reseñas_reseñaid] FOREIGN KEY([reseñaid])
REFERENCES [dbo].[Reseñas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestaRs] CHECK CONSTRAINT [FK_RespuestaRs_Reseñas_reseñaid]
GO
ALTER TABLE [dbo].[RespuestaRs]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaRs_Users_propietarioid] FOREIGN KEY([propietarioid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[RespuestaRs] CHECK CONSTRAINT [FK_RespuestaRs_Users_propietarioid]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_locals_Localid] FOREIGN KEY([Localid])
REFERENCES [dbo].[locals] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_locals_Localid]
GO
USE [master]
GO
